body {
    width: 552px;
    margin: 0;
    padding: 10px;
}

button {
    margin: 2px;
    border-radius: .25rem;
}

.btn.btn-primary {
    color: #FFF;
    background-color: #7f0000;
    border-color: #6d0000;
}

.btn.btn-primary:hover {
    color: #fff;
    background-color: #6d0000;
    border-color: #6d0000;
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #FFF;
    background-color: #7f0000;
    border-color: #6d0000;
}

.theme-text,
a {
    color: #7f0000;
}
