/* 
    theme
    background-color: #7f0000;
    border-color: #6d0000;
 */
.logo {
    vertical-align: bottom;
}
.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--mantine-color-gray-7);
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    font-weight: 500;
}
.link:hover {
    background-color: var(--mantine-color-gray-0);
    color: var(--mantine-color-black);
}
.link:hover.linkIcon {
    color: var(--mantine-color-black);
}
.link[data-active] {
    background-color: var(--mantine-color-blue-light);
    color: var(--mantine-color-blue-light-color);   
}
.link[data-active].linkIcon {
    color: var(--mantine-color-blue-light-color);
}
.linkIcon {
    color: var(--mantine-color-black);
}

/* to keep outlet's content in view; 60px is the header height */
.outlet {
    height: calc(100vh - 60px);
}
